
<div class="container">
    <table class="table" >
      <thead class="thead-light" style="margin-top: 500px;">
        <tr>
          <th scope="col">S.No</th>
        <th>sfId</th>
        <th>Available seats</th>
        <th>scheduleId</th>
        <th>flightNumber</th>
       </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scheduledflight of scheduledflights">
          <th scope="row">1</th>
          <td>{{scheduledflight.sfId}}</td>
          <td>{{scheduledflight.availableSeats}}</td>
          <td>{{scheduledflight.scheduleId}}</td>
          <td>{{scheduledflight.flightNumber}}</td>
          <td><button type="button" class="btn btn-large btn-warning" (click)=remove(scheduledflight.sfId)>Remove</button></td>
  
        </tr>
      </tbody>
    </table>
  </div>
